.logo {
    /* border: 1px solid black; */
}
body{
    background-color:#184d50;
}
h1 {
    font-size: 3.5em;
    /* border: 1px solid orange; */
    color:#fff;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.main{
    overflow: hidden;
    /* margin-left: 2em;
    margin-right: 2em; */
    max-width: 100%;
}

header {
    /* border: 1px solid navy; */
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #0e8a90;
    
}

a{
    text-decoration: none;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.logo img{
    filter: invert(100%);
}

.navigation {
    display: flex;
    width: 100%;
    text-decoration-style: none;
    justify-content: space-between;
}
.option{
    padding: 1em;
    text-align: center;
    text-decoration-style: none;
    font-size: 1.5em;
    /* border: 1px solid navy; */
    flex-grow: 1;
    background-color:#0e8a90;
    transition-duration: 0.5s;
}

.option:hover{
    background-color:#fe8912;
}

footer{
    position: fixed;
    bottom: 0em;
    text-align: center;
}

footer div{
    color:#fff;
    position: fixed;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    /* border: 1px solid orange; */

}
.home-pic{
    overflow:hidden;
    display:flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 59em;
    max-height:100%;
    background-image: url('puppy.jpg');
    background-position: 10% 20%
}

.home-pic img{
    width:100%;
    /* min-height: 100%; */
    height:auto;
}

button {
    background-color: transparent;
    color: white;
    border: 2px solid #fe8912;
    padding: 40px 50px;
    font-size: 3em;
    border-radius: 16px;;
    /* position: absolute; */
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    transition: 1s;
}


button:hover{
    background-color: hsla(30, 99%, 53%, 0.4);

}